/*Очитска стилей - начало*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  width: 100%;
  height: auto;
  /* display: block; */
}

.app_img {
    max-width: 100%;
    width: 100%;
    height: 100vh;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Очитска стилей - конец*/

@font-face {
    font-family: "Montserrat"; 
   
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
}

/* body {
    display: grid;
} */

.container {
    width: 100%;
    margin: 0px 0px;
}

@media (max-width:1200px) {
    .container {
        max-width: 1200px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 992px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}


*::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
}
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка скроллбара */
}

/* Firefox */
* {
    scrollbar-width: thin; /* Ширина скроллбара */
    scrollbar-color: #888 #f4f4f4; /* Цвет ползунка и фона скроллбара */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    z-index: 99999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
@media (min-width:2000px) {
    header {
        height: 7.41vh;
    }
}

.head {
    /* display: flex;
    flex-direction: row;
    justify-content: center; 
    */
    background-color: white; /* белый фон */
    height: 80px;/* ширина 80px */
    padding: 0px; /* отступы внутри блока */
    position: relative; /* необходимо для абсолютного позиционирования дочерних элементов */

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}
@media (min-width:2000px) {
    .head {
        height: 7.41vh;/* ширина 80px */
    }
}
        
.head img {
    /* position: absolute; абсолютное позиционирование */
    top: 40%; /* размещаем изображение по вертикали на 50% от верхней границы .head */
    left: 10%; /* размещаем изображение в самом начале по горизонтали */
    display: flex;
    align-items: center;
}

@media (min-width:2000px) {
    .head_img {
        width: 12vh;
        height: auto;
    }
}


.nav-container {
    /*
    position: absolute; абсолютное позиционирование
    bottom: 0; размещаем контейнер снизу
    right: 10%; 
    float: right; абсолютное позиционирование 
    margin-left: 100px;
    */
    display: flex; /* используем flexbox */
    flex-direction: row;
    justify-content: flex-end; /* прижимаем к правому краю блока .head */
}

.nav-container a {
    margin: 0 30px;
    padding: 28px 0;
    border: 0;
    float: left;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 17px; /* увеличиваем размер текста */
    line-height: 24px;
    color: #000000;
    position: relative;
    background-color: transparent; /* делаем фон кнопки прозрачным */
    opacity: 0.8; /* устанавливаем прозрачность */
    transition: color 0.3s; /* добавляем плавный переход для изменения цвета текста */
}
@media (min-width:2000px) {
    .nav-container a {
        font-size: 1.63vw;
    }
}

.nav-container a:hover {
    color: #007def; /* изменяем цвет текста при наведении на кнопку */
    font-style: normal;
    /* font-weight: bold; */
    line-height: 24px;
}


.hamburger-menu {
	display: none;
}

header #menu__toggle {
	opacity: 0;
}

header #menu__toggle:checked ~ .menu__btn > span {
	overflow: visible;
	transform: rotate(45deg);
}

header #menu__toggle:checked ~ .menu__btn > span::before {
	top: 0;
	transform: rotate(0);
	opacity: 0;
}

header #menu__toggle:checked ~ .menu__btn > span::after {
	top: 0;
	transform: rotate(90deg);
	overflow: visible;
}

header #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}

header .menu__btn {
	display: flex;
	align-items: center;
	position: fixed;
	top: 40px;
	right: 8%;
	width: 26px;
	/* height: 26px; */
	cursor: pointer;
	z-index: 4;
  }

header .menu__btn > span,
header .menu__btn > span::before,
header .menu__btn > span::after {
	display: block;
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #3B3B3B;
}

header .menu__btn > span::before {
	content: "";
	top: -8px;
}

header .menu__btn > span::after {
	content: "";
	top: 8px;
}

.header .menu__btn > span,
  .header .menu__btn > span::before,
  .header .menu__btn > span::after {
	transition-duration: 300ms;
  }

header .menu__box {
	z-index: 3;
	display: block;
	position: fixed;
	visibility: hidden;
	top: 0;
	right: 100%;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 80px 0;
	list-style: none;
	text-align: center;
	background-color: #ffffff;
	/* box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2); */

}

header #menu__toggle:checked ~ .menu__box {
	visibility: visible;
	right: 0;
}

header .menu__box {
	transition-duration: 300ms;
}

header .menu__item {
	display: block;
	padding: 12px 24px;
	color: #393939;
    font-family: Montserrat;
	font-size: 20px;
	font-weight: 600;
	text-decoration: none;
}

header .menu__item:hover {
	background-color: #4090b5;
	color: #000;
}

header .menu__item {
	transition-duration: 300ms;
}


@media(max-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .head{
        display: none;
    }

    .hamburger-menu .logo {
        padding: 10px 60px 5px 10px;
    }

    .hamburger-menu .logo a img{
        position: relative;
        z-index: 9999;
    }


    header .hamburger-menu {
        display: block;
      }
    header {
        top: 0;
        left: 0;
        z-index: 1000;
    }
    
}


main {
    padding-top: 80px;
}

.nav_1_content {
    position: relative; /* устанавливаем родительский контейнер для абсолютного позиционирования */
    /* width: 100%; задаем ширину 100% */
    font-family: Montserrat , Spoqa Han Sans Neo;
    padding: 0;
    margin: 0;
}

.mainpic {
    position: relative; /* устанавливаем позиционирование для относительного позиционирования */
}

.mainpic img {
    display: block; /* чтобы изображение занимало всю ширину блока */
    width: 100%; /* ширина изображения на всю ширину блока */
    height: auto; /* автоматическая высота */
}

.block_maintext {
    font-size: 1vw;
    line-height: 2vw;
    color: rgb(0, 0, 0); /* цвет текста */
    text-align: left; /* выравнивание текста по левой части */
    max-width: 60%; /* максимальная ширина текста */
}
@media (max-width:1366px) {
    .block_maintext {
        max-width: 90%;
        margin: 25px 0;
    }
}
@media(max-width: 640px) {
    .block_maintext {
        max-width: 85%;
        padding: 0 0;
    }
}

.main_page_maintext {
    max-width: 69%;
}
@media(max-width: 640px) {
    .main_page_maintext {
        max-width: 96%;
    }
}

.maintext {
    font-size: 1vw;
    line-height: 2.5vw;
    position: absolute;
     /* абсолютное позиционирование */
    top: 50%; /* выравниваем верхний край текста по вертикали на 50% */
    left: 30%; /* выравниваем левый край текста по горизонтали на 50% */
    transform: translate(-50%, -50%); /* сдвигаем текст на -50% относительно своей ширины и высоты, чтобы он был по центру */
    color: rgb(0, 0, 0); /* цвет текста */
    text-align: left; /* выравнивание текста по центру */
    max-width: 40%; /* максимальная ширина текста */
}
@media (max-width:1366px) {
    .maintext {
        font-size: 2vw;
        line-height: 3.5vw;
        max-width: 50%;
    }
}
@media (max-width: 640px) {
    .maintext{
        top: 22%;
        left: 50%;
        font-style: normal;
        font-weight: 300;
        font-size: 2.7vw;
        width: 100%;
        max-width: 90%;
        line-height: 8vw;
    }
}

.maintext h2 , .block_maintext span{
    font-weight: 300;
}

.maintext .zhir, .block_maintext .zhir {
    font-weight: bolder;
}


.maintext p, .block_maintext p {
    font-family: Montserrat;
    margin-bottom: 0; /* убираем отступ снизу для параграфа */
    font-size: 1.2vw;
    color: #444444;
}
@media (max-width:1366px) {
    .maintext p, .block_maintext p {
        font-size: 2.2vw;
    }
}
@media (max-width: 640px) {
    .maintext p, .block_maintext p{
        font-size: 3.8vw;
        line-height: 6vw;
    }
}



.hands {
    width: 100%; /* ширина контейнера на всю ширину экрана */
    max-width: 100%; /* максимальная ширина контейнера равна ширине экрана */
    position: relative;
}

.hands img {
    display: block; /* чтобы изображение занимало всю ширину блока */
    width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    height: auto; /* автоматическая высота для сохранения пропорций */
}
@media (max-width:1366px) {
    .hands img {
        object-fit: none;
        object-position: center;
        margin: 10% 0;
        padding: 10% 0;
    }
}
@media (max-width:280px) {
    .hands img {
        object-fit:cover;
    }
}



.ms {
    width: 100%; /* ширина контейнера на всю ширину экрана */
    max-width: 100%; /* максимальная ширина контейнера равна ширине экрана */
    overflow: hidden; /* скрывает часть изображения, которая выходит за пределы контейнера */
}

.ms img {
    display: block; /* чтобы изображение занимало всю ширину блока */
    max-width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    width: 100%;
    height: auto; /* автоматическая высота для сохранения пропорций */
}

picture {
    display: block; /* чтобы изображение занимало всю ширину блока */
    max-width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    height: auto; /* автоматическая высота для сохранения пропорций */
}

@media (max-width:1366px) {
    .ms img {
        height: 100vh;
    }
}

.map_title {
    font-family: Montserrat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 2.6vw;
    line-height: 3.6vw;
    color: #000000;
    margin: 5% 0;
}

.map {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    height: auto;
}

.nav_2_content {
    display: flex;
    flex-direction: row;
}

@media(max-width: 640px) {
    .nav_2_content {
        flex-direction: column;
    }
    .adapt_rev_img {
        flex-direction: column-reverse;
    }
}


.block_text_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media(max-width: 640px) {
    .block_text_container {
        width: 100%;
    }
}

.main_content3_container {
    justify-content: start;
    padding: 8% 0% 0 0;
}

.main_content4_container {
    width: 100%;
    align-items: end;
    justify-content: start;
    padding: 10% 5% 0 50%;
}
@media (max-width: 640px) {
    .main_content4_container {
        padding: 0;
    }
}

.main_page_container {
    width: 100%;
    padding: 11% 0 10% 15%;
}

@media (max-width:640px) {
    .main_page_container {
        padding: 0% 0 10% 5%;
    }
}

.blue_page_container {
    padding: 11% 0 2% 15%;
}
@media (max-width: 640px) {
    .blue_page_container {
        padding: 11% 0 2% 5%;
    }
}

.main_content2_text {
    width: 100%;
    padding: 8% 0 45% 0;
}

.main_content4_text {
    text-align: left;
}

.block_text {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.main_page_text {
    flex-direction: row;
    justify-content: start;
}
@media (max-width:640px) {
    .main_page_text {
        justify-content: center;
    }
}

.block_undertext {
    padding-top: 4%;
}

.block_text .block_title {
    margin: 5px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 3vw;
    color: #000000;
}
@media (max-width:1366px) {
    .block_text .block_title {
        margin: 15px 0;
        font-size: 3.2vw;
    }
}
@media(max-width: 640px) {
    .block_text .block_title {
        margin: 15px 0;
        font-size: 6.2vw;
        line-height: 8vw;
    }
}

.adapt_text {
    margin: 10px 0;
    padding: 0;
}
@media(max-width: 640px) {
    .adapt_text {
        margin: 0px 0;
    }
    .block_text .adapt_title {
        margin: 5px 0;
    }
}


.block_text .blue_block_title {
    margin: 15px 0;
}

.block_text .white_title {
    color: #ffffff;
}

.block_text .block_body {
    font-style: normal;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 1.9vw;
    color: #444444;
}
@media (max-width:1366px) {
    .block_text .block_body {
        font-size: 2vw;
        line-height: 2.4vw;
    }
}
@media(max-width: 640px) {
    .block_text .block_body {
        font-size: 4vw;
        line-height: 5.4vw;
    }
    .block_text .adapt_body {
        line-height: 5.2vw;
    }
}

@media(max-width: 640px) {
    .block_text .block_body ol {
        font-size: 3.8vw;
        line-height: 6vw;
        padding: 0 5%;
    }
}


.block_text .block_button {
    margin-top: 15%;
}
@media (max-width:1366px) {
    .block_text .block_button {
        margin: 10% 0;
    }
}

.block_button {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: auto;
    margin-right: 1%;
    cursor: pointer;
}

.block_text .main_page_button {
    margin-top: 5%;
    width: 30vw;
}
@media(max-width: 640px) {
    .block_text .main_page_button {
        margin: 5% 0px;
        width: 90vw;
    }
}

.block_text .main_page_button a {
    padding-right: 15px;
}

.app_button {
    border: none;
    background: none;
}
/* Стили для модального окна */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #01609B;
    margin: 10% auto;
    padding: 0px;
    border: 1px solid #025183;
    width: 20%;
    border-radius: 2%;
  }
  @media (max-width:640px) {
    .modal-content {
        margin: 30% auto;
        padding-top: 10%;
        width: 70%;
    }
  }
  @media (max-width:1024px) {
    .modal-content {
        margin: 30% auto;
        width: 45%;
    }
  }
  
  .modal-content img {
    display: block;
    padding: 5%;
    border-radius: 2%;
  }
  
  .close {
    color: #f7f4f8cb;
    float: right;
    padding-right: 3%;
    padding-top: 5%;
    font-size: 64px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Стили для кнопки */
  #openModalBtn {
    display: block;
    margin: 50px auto;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

.block_icon {
    width: 2.5vw;
    height: auto;
}
@media(max-width: 1366px) {
    .block_icon {
        width: 4.5vw;
    }
}
@media(max-width: 640px) {
    .block_icon {
        width: 8.5vw;
    }
}

.main_page_icon {
    width: 60px;
    height: auto;
    display: block;
}
@media(max-width: 640px) {
    .main_page_icon {
        width: 40px;
    }
}

.info_img {
    width: auto;
}

.block_img {
    width: 50%;
}
@media (max-width:1366px) {
    .block_img {
        display: flex;
        align-items: center;
    }
}
@media(max-width: 640px) {
    .block_img {
        width: 100%;
    }
}

.hidden_adapt_block {
    display: none;
}


@media(max-width: 640px) {
    .hidden_adapt_block {
        display: block;
    }
}

.bg_icon {
    background-size: cover;
    width: 100%;
    height: 77.22vh;
}

.bg_repair {
    background: url("/static/images/site_service_img_03.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 77.22vh;
}

@media(max-width: 640px) {
    .bg_repair {
        height: auto;
        background: none;
    }
    .bg_repair picture {
        width: 100%;
    }
}

.bg_score {
    background: url("/static/images/site_main_visual.png");
    background-size: cover;
    background-position: center;
}
@media (max-width: 640px) {
    .bg_score {
        background: url("/static/images/site_main_visual_m.png");
        background-size: inherit;
    }
}

.bg_review{
    background: url("/static/images/car_reviews.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 77.22vh;
}
@media (max-width: 640px) {
    .bg_review{
        background: url("/static/images/car_reviews_m.png");
        background-size: cover;
        background-position: top;
    }
}

.bg_main_content2 {
    background: url("/static/images/Изображение WhatsApp 2024-04-01 в 01.32.01_5221fe7e.png");
    background-size: cover;
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
    width: 100%;
    height: 77.22vh;
}
@media (max-width: 640px) {
    .bg_main_content2 {
        background: url("../images/main_contents2_m.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}

.bg_main_content3 {
    background: url("/static/images/Изображение\ WhatsApp\ 2024-04-01\ в\ 02.12.03_773d6ba1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 77.22vh;
}
@media (max-width: 640px) {
    .bg_main_content3 {
        background: url("../images/main_content3_m.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.bg_main_content4 {
    background: url("/static/images/contents4.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 77.22vh;
}
@media (max-width: 640px) {
    .bg_main_content4 {
        background: url("../images/main_content4_m.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.bg_main_content5 {
    background: url("/static/images/Изображение\ WhatsApp\ 2024-04-01\ в\ 02.20.02_ee68630f.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 77.22vh;
}
@media (max-width: 640px) {
    .bg_main_content5 {
        background: url("../images/main_content5_m.png");
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}

.bg_img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
}

.bg_blue_block {
    flex-direction: column;
    background-color: #0A2945;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-left: 5%;
}

.blue_button_contaner {
    position: relative;
    display: grid;
    justify-content: space-between;
    align-content: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    gap: 70% 20px;
    padding: 1% 25% 10% 15%;
}
@media (max-width: 640px) {
    .blue_button_contaner {
        grid-template-columns: 1fr;
        gap: 10%;
        padding: 0% 8% 20% 5%;  
    }
}

.blue_button_contaner a {
    text-decoration: none;
}

.icon_button_container {
    position: absolute;
}

.icon_left {
    left: 2%;
}

.icon_right {
    right: 2%;
}

.blue_button_text {
    font-family: Montserrat;
    font-size: 1.2vw;
    padding: 0 15px 0 40px;
    color: #ffffff;
}
@media (max-width: 640px) {
    .blue_button_text {
        font-size: 3.5vw;
    }
}


.blue_button {
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 8% 5%;
    cursor: pointer;
}
@media (max-width: 640px) {
    .blue_button {
        height: 57px;
        padding: 1% 0% 0% 6%;
        }
    }
.slider {
    width: 100%;
    height: 77.22vh;
    position: relative;
    background-color: #F7F8FA;
}
@media (max-width: 640px) {
    .slider {
        height: auto;
    }
}

.slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    cursor: pointer;
}

.button_container {
    background-size: cover;
    width: 16%;
    height: 50%;
}

.slider_container, .slider_container2 {
    height: 100%;
    width: 100%;
    padding: 5% 15% 0 15%;
    text-align: center;
}

.slider_element_container {
    width: 100%;
    max-width: 100%;
    height: 60%;
    white-space: nowrap;
    overflow-x: auto;   
    overflow-y: hidden;
    margin-top: 4%;
    margin-bottom: 3%;
}
@media (max-width: 640px) {
    .slider_element_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.slider_container2 {
    height: auto;
}

.slider_element {
    width: 23%;
    /* height: 95%; */
    margin-right: 4%;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}
@media (max-width: 640px) {
    .slider_element {
        grid-row: span 2;
        padding-right: 5px;
        width: 100%;
    }
}


.slider_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 3.7vw;
    color: #000000;
    margin-bottom: 5%;
    text-align: left;
}
@media (max-width: 640px) {
    .slider_title {
        text-align: center;
    }
}

.slider2_title {
    text-align: center;
}

.element_img {
    width: 100%;
    height: 40%;
}

.element_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.element_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    overflow: hidden;
}

.element_text a {
    text-decoration: none;
    color: #444444;
}


/* .slider_element4 .element_img img {
    width: 326px;
    height: 223px;
} */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 120px; */
    height: 11.11vh;
    /* padding: 5px 10%; */
    /* padding: auto; */
    bottom: 0;
    left: 0;
    background: #ffffff;
    border-top: 1px solid #e4e4e4;
}
@media(max-width: 640px) {
    footer {
        align-items: end;
        height: auto;
    }
}

.footer_container{
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    /* display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr; 
    justify-content: space-between;
    align-items:start;
    width: 100%;
    height: 120px;
    padding: 10px 0px; */
}
@media(max-width: 640px) {
    .footer_container {
        flex-direction: column;
        padding: 5%;
        gap: 10px;
    }
}

.footer_element {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #888888;
}
@media (min-width:2000px) {
    .footer_element {
        font-size: 16px;
    }
}


.logo {
    display: flex;
    justify-content: right;
    align-items: self-start;
    margin-right: 40px;
    margin-left: 2%;
    padding: 5px 0;
    width: 176px;
    height: 12px;
    background-size: 68px 12px;
    margin-right: 34px;
}
@media(max-width: 640px) {
    .logo {
        margin-left: 0;
        justify-content: left;
    }
}

.footer_logo {
    /* width: 200px; */
    height: 50px;
}

@media(max-width: 640px) {
    .footer_logo {
        margin-left: 0;
    }
}

.space_block{
    margin: 0 5%
}



