/*Очитска стилей - начало*/
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*Очитска стилей - конец*/

@font-face {
    font-family: "Montserrat"; 
   
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype"); 
}

body {
    display: grid;
}

*::-webkit-scrollbar {
    width: 10px; /* Ширина скроллбара */
}
*::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет ползунка скроллбара */
}

/* Firefox */
* {
    scrollbar-width: thin; /* Ширина скроллбара */
    scrollbar-color: #888 #f4f4f4; /* Цвет ползунка и фона скроллбара */
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 12%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff;
    z-index: 99999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.head {
    /* display: flex;
    flex-direction: row;
    justify-content: center; 
    */
    background-color: white; /* белый фон */
    height: 80px; /* ширина 100px */
    padding: 0px; /* отступы внутри блока */
    position: relative; /* необходимо для абсолютного позиционирования дочерних элементов */

    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-between;
}
        
.head img {
    /* position: absolute; абсолютное позиционирование */
    top: 40%; /* размещаем изображение по вертикали на 50% от верхней границы .head */
    left: 10%; /* размещаем изображение в самом начале по горизонтали */
}

.head_img {
    display: flex;
    align-items: center;
}

.nav-container {
    /*
    position: absolute; абсолютное позиционирование
    bottom: 0; размещаем контейнер снизу
    right: 10%; 
    float: right; абсолютное позиционирование 
    margin-left: 100px;
    */
    display: flex; /* используем flexbox */
    flex-direction: row;
    justify-content: flex-end; /* прижимаем к правому краю блока .head */
}

.nav-container a {
    margin: 0 30px;
    padding: 28px 0;
    border: 0;
    float: left;
    cursor: pointer;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    font-size: 17px; /* увеличиваем размер текста */
    line-height: 24px;
    color: #000000;
    position: relative;
    background-color: transparent; /* делаем фон кнопки прозрачным */
    opacity: 0.8; /* устанавливаем прозрачность */
    transition: color 0.3s; /* добавляем плавный переход для изменения цвета текста */
}
.nav-container a:hover {
    color: #007def; /* изменяем цвет текста при наведении на кнопку */
    font-style: normal;
    /* font-weight: bold; */
    line-height: 24px;
}

main {
    padding-top: 80px;
}

.nav_1_content {
    position: relative; /* устанавливаем родительский контейнер для абсолютного позиционирования */
    /* width: 100%; задаем ширину 100% */
    font-family: Montserrat , Spoqa Han Sans Neo;
    padding: 0;
    margin: 0;
}

.mainpic {
    position: relative; /* устанавливаем позиционирование для относительного позиционирования */
}

.mainpic img {
    display: block; /* чтобы изображение занимало всю ширину блока */
    width: 100%; /* ширина изображения на всю ширину блока */
    height: auto; /* автоматическая высота */
}

.block_maintext {
    font-size: 1vw;
    line-height: 2vw;
    color: rgb(0, 0, 0); /* цвет текста */
    text-align: left; /* выравнивание текста по левой части */
    max-width: 60%; /* максимальная ширина текста */
}

.main_page_maintext {
    max-width: 69%;
}

.maintext {
    font-size: 1vw;
    line-height: 2.5vw;
    position: absolute;
     /* абсолютное позиционирование */
    top: 50%; /* выравниваем верхний край текста по вертикали на 50% */
    left: 30%; /* выравниваем левый край текста по горизонтали на 50% */
    transform: translate(-50%, -50%); /* сдвигаем текст на -50% относительно своей ширины и высоты, чтобы он был по центру */
    color: rgb(0, 0, 0); /* цвет текста */
    text-align: left; /* выравнивание текста по центру */
    max-width: 40%; /* максимальная ширина текста */
}

.maintext h2 , .block_maintext span{
    font-weight: 300;
}

.maintext .zhir, .block_maintext .zhir {
    font-weight: bolder;
}


.maintext p, .block_maintext p {
    font-family: Montserrat;
    margin-bottom: 0; /* убираем отступ снизу для параграфа */
    font-size: 1.2vw;
    color: #444444;
}


.hands {
    width: 100%; /* ширина контейнера на всю ширину экрана */
    max-width: 100%; /* максимальная ширина контейнера равна ширине экрана */
    position: relative;
}

.hands img {
    display: block; /* чтобы изображение занимало всю ширину блока */
    width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    height: auto; /* автоматическая высота для сохранения пропорций */
}
.ms {
    width: 100%; /* ширина контейнера на всю ширину экрана */
    max-width: 100%; /* максимальная ширина контейнера равна ширине экрана */
    overflow: hidden; /* скрывает часть изображения, которая выходит за пределы контейнера */
}

.ms img {
    display: block; /* чтобы изображение занимало всю ширину блока */
    max-width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    height: auto; /* автоматическая высота для сохранения пропорций */
}

.map_title {
    font-family: Montserrat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 2.6vw;
    line-height: 3.6vw;
    color: #000000;
    margin: 5% 0;
}

.map {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%; /* максимальная ширина изображения равна ширине контейнера */
    height: auto;
}

.nav_2_content {
    display: flex;
    flex-direction: row;
}

.block_text_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_content3_container {
    justify-content: start;
    padding: 8% 0% 0 0;
}

.main_content4_container {
    width: 100%;
    align-items: end;
    justify-content: start;
    padding: 10% 5% 0 50%;
}

.main_page_container {
    width: 100%;
    padding: 11% 0 10% 15%;
}

.blue_page_container {
    padding: 11% 0 2% 15%;
}

.main_content2_text {
    width: 100%;
    padding: 8% 0 45% 0;
}

.main_content4_text {
    text-align: left;
}

.block_text {
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_page_text {
    flex-direction: row;
    justify-content: start;
}

.block_undertext {
    padding-top: 4%;
}

.block_text .block_title {
    margin: 5px 0;
    font-style: normal;
    font-weight: 300;
    font-size: 2.2vw;
    line-height: 3vw;
    color: #000000;
}

.block_text .blue_block_title {
    margin: 15px 0;
}

.block_text .white_title {
    color: #ffffff;
}

.block_text .block_body {
    font-style: normal;
    font-weight: 300;
    font-size: 1.1vw;
    line-height: 1.9vw;
    color: #444444;
}

.block_text .block_button {
    margin-top: 15%;
}

.block_button {
    display: flex;
    flex-direction: row;
    width: 30vw;
    height: auto;
    margin-right: 1%;
    cursor: pointer;
}

.block_text .main_page_button {
    margin-top: 5%;
    width: 30vw;
}

.block_text .main_page_button a {
    padding-right: 15px;
}

.block_icon {
    width: 2.5vw;
    height: auto;
}

.main_page_icon {
    width: 60px;
    height: auto;
    display: block;
}

.info_img {
    width: auto;
}

.block_img {
    width: 50%;
}


.bg_icon {
    background-size: cover;
    width: 100%;
    height: 834px;
}

.bg_repair {
    background: url("/static/images/site_service_img_03.png");
    background-size: cover;
    width: 100%;
    height: 834px;
}

.bg_score {
    background: url("/static/images/site_main_visual.png");
    background-size: cover;
}

.bg_review{
    background: url("/static/images/car_reviews.png");
    background-size: cover;
    width: 100%;
    height: 834px;
}

.bg_main_content2 {
    background: url("/static/images/Изображение WhatsApp 2024-04-01 в 01.32.01_5221fe7e.jpg");
    background-size: cover;
    background-position: center; /* Центрируем изображение */
    background-repeat: no-repeat; /* Отключаем повторение изображения */
    width: 100%;
    height: 834px;
}

.bg_main_content3 {
    background: url("/static/images/Изображение\ WhatsApp\ 2024-04-01\ в\ 02.12.03_773d6ba1.jpg");
    background-size: cover;
    width: 100%;
    height: 834px;
}

.bg_main_content4 {
    background: url("/static/images/contents4.png");
    background-size: cover;
    width: 100%;
    height: 834px;
}

.bg_main_content5 {
    background: url("/static/images/Изображение\ WhatsApp\ 2024-04-01\ в\ 02.20.02_ee68630f.jpg");
    background-size: cover;
    width: 100%;
    height: 834px;
}

.bg_img {
    background-size: cover;
    width: 100%;
    height: auto;
}

.bg_blue_block {
    flex-direction: column;
    background-color: #0A2945;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
    padding-left: 5%;
}

.blue_button_contaner {
    position: relative;
    display: grid;
    justify-content: space-between;
    align-content: start;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
    gap: 70% 20px;
    padding: 1% 25% 10% 15%;
}

.blue_button_contaner a {
    text-decoration: none;
}

.icon_button_container {
    position: absolute;
}

.icon_left {
    left: 2%;
}

.icon_right {
    right: 2%;
}

.blue_button_text {
    font-family: Montserrat;
    font-size: 1.2vw;
    padding: 0 15px 0 40px;
    color: #ffffff;
}

.blue_button {
    border: 2px solid #ffffff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 6px;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding: 8% 5%;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 834px;
    position: relative;
    background-color: #EFEFEF;
}

.slider_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    cursor: pointer;
}

.button_container {
    background-color: #000000;
    background-size: cover;
    width: 16%;
    height: 50%;
    background: url("/static/images/newsBtn1.png") no-repeat;
}

.slider_container, .slider_container2 {
    height: 100%;
    width: 100%;
    padding: 5% 15% 0 15%;
    text-align: center;
}

.slider_element_container {
    width: 100%;
    max-width: 100%;
    height: 60%;
    white-space: nowrap;
    overflow-x: auto;   
    overflow-y: hidden;
    margin-top: 4%;
    margin-bottom: 3%;
}

.slider_container2 {
    height: auto;
}

.slider_element {
    width: 23%;
    height: 95%;
    margin-right: 4%;
    display: inline-block;
    border-radius: 10px;
    cursor: pointer;
}


.slider_title {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 3vw;
    line-height: 3.7vw;
    color: #000000;
    margin-bottom: 5%;
    text-align: left;
}

.slider2_title {
    text-align: center;
}

.element_img {
    width: 100%;
    height: 50%;
}

.element_text_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* .slider_element4 .element_img img {
    width: 326px;
    height: 223px;
} */

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    /* padding: auto; */
    bottom: 0;
    left: 0;
    background: #ffffff;
    border-top: 1px solid #e4e4e4;
}

.footer_container{
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    /* display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-column-gap: 20px;
    grid-template-rows: 1fr 1fr 1fr; 
    justify-content: space-between;
    align-items:start;
    width: 100%;
    height: 120px;
    padding: 10px 0px; */
}

.footer_element{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #888888;
}

.logo {
    display: flex;
    justify-content: right;
    padding: 5px 0;
    width: 68px;
    height: 12px;
    background-size: 68px 12px;
    margin-right: 34px;
}

.space_block{
    margin: 0 5%
}



