.head {
            background-color: white; /* белый фон */
            height: 80px; /* ширина 100px */
            padding: 0px; /* отступы внутри блока */
            position: relative; /* необходимо для абсолютного позиционирования дочерних элементов */
        }
        
        .head img {
            position: absolute; /* абсолютное позиционирование */
            top: 40%; /* размещаем изображение по вертикали на 50% от верхней границы .head */
            left: 10%; /* размещаем изображение в самом начале по горизонтали */
            transform: translateY(-50%); /* сдвигаем изображение на -50% относительно своей высоты, чтобы оно оказалось по центру по вертикали */
        }
        
        .button-container {
            
            position: absolute; /* абсолютное позиционирование */
    bottom: 0; /* размещаем контейнер снизу */
    right: 10%; 
            float: right; /* абсолютное позиционирование */
            margin-left: 100px;
            
            display: flex; /* используем flexbox */
    justify-content: flex-end; /* прижимаем к правому краю блока .head */
        }

        .button-container button {
            background-color: transparent; /* делаем фон кнопки прозрачным */
    border: none; /* убираем границу у кнопок */
    color: rgb(30, 33, 39); /* изменяем цвет текста на синий */
    padding: 10px 20px; /* внутренние отступы */
    margin-left: 5px; /* добавляем небольшое пространство между кнопками */
    opacity: 0.8; /* устанавливаем прозрачность */
    font-size: 16px; /* увеличиваем размер текста */
    transition: color 0.3s; /* добавляем плавный переход для изменения цвета текста */
            display: block; /* отображение в виде блока */
            margin-bottom: 10px; /* отступ снизу между кнопками */
            display: block; /* отображение в виде блока */
    margin-bottom: 10px; /* отступ снизу между кнопками */
    margin-left: 10px;
        }
        .button-container button:hover {
            color: rgb(44, 114, 172); /* изменяем цвет текста при наведении на кнопку */
        }
        .body {
            position: relative; /* устанавливаем родительский контейнер для абсолютного позиционирования */
            width: 100%; /* задаем ширину 100% */
        }
        
        .mainpic {
            position: relative; /* устанавливаем позиционирование для относительного позиционирования */
        }
        
        .mainpic img {
            display: block; /* чтобы изображение занимало всю ширину блока */
            width: 100%; /* ширина изображения на всю ширину блока */
            height: auto; /* автоматическая высота */
        }
        
        .maintext {
            
            position: absolute; /* абсолютное позиционирование */
            top: 50%; /* выравниваем верхний край текста по вертикали на 50% */
            left: 30%; /* выравниваем левый край текста по горизонтали на 50% */
            transform: translate(-50%, -50%); /* сдвигаем текст на -50% относительно своей ширины и высоты, чтобы он был по центру */
            color: rgb(0, 0, 0); /* цвет текста */
            text-align: center; /* выравнивание текста по центру */
            max-width: 20%; /* максимальная ширина текста */
        }
        
        .maintext h3 {
            margin-bottom: 10px; /* отступ снизу для заголовка */
        }
        
        .maintext p {
            margin-bottom: 0; /* убираем отступ снизу для параграфа */
        }
        .hands {
            width: 100%; /* ширина контейнера на всю ширину экрана */
            max-width: 100%; /* максимальная ширина контейнера равна ширине экрана */
            overflow: hidden; /* скрывает часть изображения, которая выходит за пределы контейнера */
        }

        .hands img {
            display: block; /* чтобы изображение занимало всю ширину блока */
            max-width: 100%; /* максимальная ширина изображения равна ширине контейнера */
            height: auto; /* автоматическая высота для сохранения пропорций */
        }
        .ms {
            width: 100%; /* ширина контейнера на всю ширину экрана */
            max-width: 100%; /* максимальная ширина контейнера равна ширине экрана */
            overflow: hidden; /* скрывает часть изображения, которая выходит за пределы контейнера */
        }

        .ms img {
            display: block; /* чтобы изображение занимало всю ширину блока */
            max-width: 100%; /* максимальная ширина изображения равна ширине контейнера */
            height: auto; /* автоматическая высота для сохранения пропорций */
        }